<form [formGroup]="formPelicula">
  <div>
    <input type="text" formControlName="titulo" id="titulo" class="formControl">
    <label for="titulo">Título</label>
  </div>
  <div>
    <input type="text" formControlName="director" id="director" class="formControl">
    <label for="director">Director</label>
  </div>
  <div><input type="text" formControlName="genero" id="genero" class="formControl">
    <label for="genero">Genero</label>
  </div>
  <div>
    <input type="text" formControlName="duracion" id="duracion" class="formControl">
    <label for="duracion">Duracion</label>
  </div>
  <div>
    <input type="text" formControlName="year" id="year" class="formControl">
    <label for="year">Año</label>
  </div>
  <div>
    <input type="text" formControlName="publico" id="publico" class="formControl">
    <label for="publico">Calificación</label>
  </div>
</form>
